<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@1.0.0"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>SebView</title>
  </head>
  <body>
    <div class="query-container">
      <h2>Query 1 Results</h2>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Time</th>
            <th>Minutes Picked</th>
            <th>Lines Picked</th>
            <th>Lines Picked Average</th>
          </tr>
        </thead>
        <tbody>
          <% results1.forEach((result) => { %>
          <tr>
            <td><%= result.logguser %></td>
            <td><%= result.time %></td>
            <td><%= result.Minutes_Picked %></td>
            <td><%= result.Lines_Picked %></td>
            <td><%= result.lines_picked_avg %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <div class="query-container">
      <h2>GJENSTÅENDE TP PLUKK</h2>
      <button id="update-query2-button">Update</button>
      <canvas id="query2-pie-chart"></canvas>
    </div>
  </body>
  <script>
        const updateQuery2Button = document.getElementById('update-query2-button');
        updateQuery2Button.addEventListener('click', updateQuery2);
        const results2 = <%- JSON.stringify(results2) %>;
    const labels = results2.map(result => result.admunit);
    const data = results2.map(result => result.count);

    const ctx = document.getElementById('query2-pie-chart').getContext('2d');

    let chart = null;

    function updateChart(labels, values) {
      if (chart) {
        chart.destroy();
      }

      chart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: labels,
          datasets: [{
            data: values,
            backgroundColor: [
              'rgba(255, 99, 132, 0.7)',
              'rgba(54, 162, 235, 0.7)',
              'rgba(255, 206, 86, 0.7)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            datalabels: {
              display: true,
              color: 'black',
              formatter: function(value, context) {
                return value;
              }
            }
          }
        }
      });
    }

    updateChart(labels, data);

    function updateQuery2() {
      fetch('/query2')
        .then(response => response.json())
        .then(data => {
          const labels = data.map(result => result.admunit);
          const values = data.map(result => result.count);
          updateChart(labels, values);
        })
        .catch(error => console.error(error));
    }

    // Update query_2 every 5 minutes
    setInterval(updateQuery2, 5 * 60 * 1000);

    // Handle the "Update Chart" button click event
    const updateButton = document.getElementById('update-chart-button');
    updateButton.addEventListener('click', () => {
      updateQuery2();
    });
  </script>
</html>
